{% load static %}
{% include "header.html" %}

<div class="container">

<h2>📍 Village Complaints Map</h2>

<div id="map"></div>

<div class="legend">
<p>Click on a marker to view complaint details.</p>
</div>

</div>


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>

<style>

.container{
width:95%;
max-width:1200px;
margin:80px auto;
}

h2{
text-align:center;
margin-bottom:20px;
color:#002855;
}

#map{
height:600px;
border-radius:10px;
box-shadow:0 6px 20px rgba(0,0,0,0.2);
}

.legend{
margin-top:15px;
font-size:14px;
text-align:center;
}

</style>


<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>

// Default location (example village)

var map = L.map('map').setView([21.3465, 74.2410], 13);


// OpenStreetMap tiles

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{

maxZoom:19,
attribution:'© OpenStreetMap'

}).addTo(map);


// complaint data from Django

var complaints = {{ complaint_json|safe }};


// store markers for auto zoom

var markers = [];


// Add markers

complaints.forEach(function(c){

if(c.latitude && c.longitude){

var marker = L.marker([c.latitude, c.longitude]).addTo(map);

markers.push(marker);

marker.bindPopup(

"<b>Complaint ID:</b> "+c.id+
"<br><b>Department:</b> "+c.department+
"<br><b>Status:</b> "+c.status+
"<br><b>Description:</b> "+c.description

);

}

});


// Auto zoom to complaints

if(markers.length > 0){

var group = new L.featureGroup(markers);
map.fitBounds(group.getBounds());

}

</script>

{% include "footer.html" %}