{% extends 'base.html' %}{% block content %}<h1>My dashboard</h1>
<div class="row g-3 mb-4">
<div class="col-6 col-md-3"><div class="tile"><b>{{ stats.total }}</b>Total</div></div>
<div class="col-6 col-md-3"><div class="tile"><b>{{ stats.pending }}</b>Pending</div></div>
<div class="col-6 col-md-3"><div class="tile"><b>{{ stats.progress }}</b>In progress</div></div>
<div class="col-6 col-md-3"><div class="tile"><b>{{ stats.resolved }}</b>Resolved</div></div></div>
<a class="btn btn-saffron btn-lg" href="{% url 'file_complaint' %}">File a complaint</a>
<a class="btn btn-outline-dark btn-lg" href="{% url 'history' %}">Complaint history</a>
<h2 class="h4 mt-4">Notifications</h2>
<ul class="list-group">{% for n in notifications %}<li class="list-group-item">{{ n.message }} <small class="text-muted">{{ n.created|date:"d M Y H:i" }}</small></li>{% empty %}<li class="list-group-item">No notifications yet.</li>{% endfor %}</ul>
{% endblock %}
