{% load static %}
{% include "header.html" %}

<div id="contents">
  <div class="clearfix">

    <!-- Sidebar -->
    <div class="sidebar">
      
      <div>
        <h2>Complaint Services</h2>
        <ul>
          <li>
            <a href="{% url 'complaint' %}">Submit New Complaint</a>
          </li>
          <li>
            <a href="{% url 'track_complaint' %}">Track Complaint Status</a>
          </li>
          <li>
            <a href="{% url 'map_complaint' %}">Complaint Statistics Map</a>
          </li>
        </ul>
      </div>

      <div>
        <h2>Village Public Services</h2>
        <p>
          LokSetu is a digital governance platform that enables citizens
          to report issues related to public services in their local
          areas. The system helps ensure that complaints are directed
          to the appropriate government departments.
        </p>

        <p>
          By using LokSetu, citizens can easily communicate with local
          authorities and track the progress of their complaints,
          improving transparency and faster problem resolution.
        </p>
      </div>

      <div>
        <h2>Citizen Feedback</h2>
        <p>
          &ldquo;LokSetu has made it much easier for people to report
          problems like road damage and water supply issues. The
          communication between citizens and authorities has improved
          significantly.&rdquo;
          <span>- Resident of Maharashtra</span>
        </p>
      </div>

    </div>


    <!-- Main Content -->
    <div class="main">

      <h1>Public Service Categories</h1>

      <ul class="news">

        <!-- Water Supply -->
        <li>
          <div class="box">
            <img
              src="{% static 'images/meeting.jpg' %}"
              alt="Water Supply"
              height="245"
              width="213"
            />
          </div>

          <p class="info">
            Public Water Department
          </p>

          <h2>Water Supply Services</h2>

          <p>
            Citizens can report issues related to drinking water supply,
            pipeline leakage, water shortage, or irregular water
            distribution through the LokSetu complaint system.
          </p>

        </li>


        <!-- Electricity -->
        <li>
          <div class="box">
            <img
              src="{% static 'images/handshake.jpg' %}"
              alt="Electricity Services"
              height="245"
              width="213"
            />
          </div>

          <p class="info">
            Electricity & Utility Department
          </p>

          <h2>Electricity & Street Lighting</h2>

          <p>
            Villagers can report electricity outages, damaged electric
            poles, or malfunctioning street lights so the responsible
            department can take action quickly.
          </p>

        </li>


        <!-- Infrastructure -->
        <li>
          <div class="box">
            <img
              src="{% static 'images/smile.jpg' %}"
              alt="Infrastructure"
              height="245"
              width="213"
            />
          </div>

          <p class="info">
            Infrastructure & Development Department
          </p>

          <h2>Roads & Infrastructure</h2>

          <p>
            Citizens can submit complaints related to potholes,
            damaged roads, drainage issues, and other infrastructure
            problems affecting their village or town.
          </p>

        </li>

      </ul>

    </div>

  </div>
</div>


<!-- Features Section -->
<div class="featured">
  <h2>LokSetu Service Features</h2>

  <ul class="clearfix">

    <li>
      <div class="frame1">
        <div class="box">
          <img
            src="{% static 'images/meeting.jpg' %}"
            alt="Complaint System"
            height="130"
            width="197"
          />
        </div>
      </div>

      <p>
        <b>Simple Complaint Submission</b><br>
        Citizens can report issues related to public services
        quickly using the online complaint system.
      </p>

      <a href="{% url 'complaint' %}" class="more">Submit Complaint</a>
    </li>


    <li>
      <div class="frame1">
        <div class="box">
          <img
            src="{% static 'images/handshake.jpg' %}"
            alt="Departments"
            height="130"
            width="197"
          />
        </div>
      </div>

      <p>
        <b>Department-Based Management</b><br>
        Complaints are automatically forwarded to the
        appropriate government department responsible
        for resolving the issue.
      </p>

      <a href="/departments/" class="more">View Departments</a>
    </li>


    <li>
      <div class="frame1">
        <div class="box">
          <img
            src="{% static 'images/smile.jpg' %}"
            alt="Tracking"
            height="130"
            width="197"
          />
        </div>
      </div>

      <p>
        <b>Complaint Tracking System</b><br>
        Citizens can track the status of their complaint
        using the Complaint ID received after submission.
      </p>

      <a href="{% url 'track_complaint' %}" class="more">Track Complaint</a>
    </li>


    <li>
      <div class="frame1">
        <div class="box">
          <img
            src="{% static 'images/family-small.jpg' %}"
            alt="Support"
            height="130"
            width="197"
          />
        </div>
      </div>

      <p>
        <b>Citizen Support</b><br>
        LokSetu improves communication between
        citizens and government authorities to
        ensure faster issue resolution.
      </p>

      <a href="/contact/" class="more">Contact Support</a>
    </li>

  </ul>
</div>

</div>

{% include "footer.html" %}
</div>