{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">
        🏡 Village Officer Dashboard
    </h2>

    <div class="alert alert-success">
        Welcome {{ request.user.first_name }}
    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5>Total Complaints</h5>
                    <h2>{{ total_complaints|default:"0" }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5>Pending</h5>
                    <h2>{{ pending_complaints|default:"0" }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5>Resolved</h5>
                    <h2>{{ resolved_complaints|default:"0" }}</h2>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}